# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Env
.venv/
venv/

# Environment
.env
.env.example

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Uploads
data/uploads/*
!data/uploads/.gitkeep
data/reports/*
!data/reports/.gitkeep

# OS
.DS_Store
Thumbs.db